<header>
  <div class="container">
    <h1><a href="/index.html">buying <strong>pains</strong> content in development (2021). Come back soon!!</a></h1>
    <nav class="navbar">
      <a href="/index.html">Home</a>          
      <div class="dropdown">
        <button class="dropbtn">Topics<i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content">
          <a href="/policy.html">US Textile Laws</a>
          <a href="/supplychain.html">Supply Chain Additives</a>
          <a href="/publichealth.html">Public Health Issues</a>
          <a href="/transparency.html">Transparency</a>
        </div>
      </div>
      <a href="/takeaction.html">Take Action</a></li>
      <a href="/about.html">About</a>
      </a>
    </nav>
  </div>
</header>